*{
    margin: 0;
    padding: 0;
    font-family: 'proximanova';
}
img{
    width: 100%;
}
@font-face {
    font-family: 'proximanova';
    src: url('./assets/proxima-nova/ProximaNova-Regular.ttf') format('ttf') 
}
header{
    border: 2px solid green;
    background-image: url("./images/bonsaiBGC.jpg");
    background-position: center;
    background-size: cover;
}
nav{
    border: 2px solid sienna;
    display: flex;
    justify-content: space-between;
    padding: 1.5% 6% 1% 6%;
    background-color: white;
    font-family: 'proximanova';
}
.hamburger-icon-content{
    display: flex;
}
.nav-links{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 4%;
    margin-top: 1%;
    font-size: 30px;
    letter-spacing: 0.5px;
    color: #161616;
}
.nav-links a{
    color: #161616;
    text-decoration: none;
}
.nav-buttons{
    display: flex;
    width: 28%;
    justify-content: space-between;
    margin-top: 0.5%;
}
.logo{
    width: 17%;
    display: flex;
}
.hamburger-logo{
    width: 26%;
}

.logoName {
    font-size: 63px;
    color: rgb(1, 178, 137);
    font-weight: 600;
    font-family: sans-serif;
    margin-left: 10px;
    padding-top: 1%;
    letter-spacing: 1.7px;
}
.hamburger-icon{
    display: none;
}
.hambuger-start-button{
    padding: 2.5% 1% 2.5% 1%;
    width: 50%;
    background-color: #00af87;
    color: white;
    border: transparent;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 600;
    font-family: sans-serif;
}
.hambuger-login-button{
    padding: 2.5% 1% 2.5% 1%;
    width: 32%; 
    border: 1px solid #00af87;
    background-color: white;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 600;
}
.hambuger-login-button a{
    color: #00af87;
    text-decoration: none;
    font-family: sans-serif !important;
}
.productfa{
    margin-left: 30px;
    font-size: 25px;
}
.divider{
    height: 80px;
}
/*plans-pricing*/
.plans-pricing{
    font-family:"Amerigo-bt roman opt" sans-serif;
    font-size: 61px;
    color: rgb(79, 79, 79);
    padding:1%;
    margin-bottom: 12px;
    width: 20%;
    position: relative;
    left: 26%;
}
/*two-months-free*/
.two-months-free{
    display: flex;
    justify-self: flex-end;
    padding:2%;
    margin: 5px;
    color: rgb(6, 186, 144);
    font-size:23px;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    width: 10%;
    position: relative;
    left: 60%;
    bottom: 234px;
}
/*last-header-text*/
.last-header-text{
    display: flex;
    justify-content: space-between;
    padding: 3%;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(82, 80, 80);
    letter-spacing: 1px;
    margin-bottom: 1%;
    width: 18%;
    position: relative;
    left: 51%;
    bottom: 300px;
}

  
/*monthly*/
.monthly{
    padding-top: 10%;
    font-size: 30px;
}
/*yearly*/
.yearly{
    color: rgb(135, 132, 132);
    padding-top: 10%;
    font-size: 30px;
}
/*header ends*/
/*main*/
/*container-for-monthly*/
.container-for-monthly{
    display: flex;
    background-color: transparent;
    gap: 3%;
    justify-content: center;
    border: 2px solid darkblue;
}
/*This should display when clicked on*/

.container-for-yearly{
    display: none;
    background-color: transparent;
}
.Price-tags{
    margin:18% 0% 6% 0%;
    border: 2px solid aqua;
}
ul{
    padding-top: 13px;
    color: #4c525a;
    font-family: sans-serif;
}
li{
    list-style: none;
    margin: 17px 0px 17px 0px;
    font-size: 28px !important;
}
.fa-check{
    color: rgb(1, 178, 137);
    font-size: medium;
    margin-right: 9px;
}
.sub-container1-monthly br{
    display: none;
}
.sub-container1-monthly,
.sub-container2-monthly,
.sub-container3-monthly,
.sub-container1-yearly,
.sub-container2-yearly,
.sub-container3-yearly{
    padding: 7% 5% 10% 4%;
    border: 1px thin rgb(135, 132, 132);
    border-radius: 5px;
    background-color: #fbfcff;
    margin: 90px 2px 34px 2px ;
    box-shadow: 0px 0px 2px rgb(255, 254, 254)b;
}
/*.sub-container1-monthly*/
.starter{
    font-size: 23px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4c525a;
}
.sub-container1-heading1 p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4c525a;
    font-size: 12px;
}
/*price per month*/
.pt1{
    display: flex;
    justify-content: space-around;
    padding: 5% 11% 0% 0%;
    margin-right: 4%;
    color: #4c525a;
    font-family: sans-serif;
    width: 10%;
}
/*line*/
.green-underLine{
    height: 2px;
    background-color: rgb(1, 178, 137);
    margin: 0% 0% 4% 0%;
}
.dollar-sign{
    font-size:27px;
    position: relative;
    bottom: 23px;
    margin-right: 10px;
}
/*24*/
.twentyFour{
    font-size:70px;
}
.per-month{
    padding-top: 20%;
    font-size: 19px;
    font-weight: 500;
}
/*sub-container1-button*/
.section1-button{
    background-color: rgb(1, 178, 137);
    padding: 8% 5% 8% 5%;
    color: white;
    width: 100%;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 4px;
    border: transparent;
    margin-top: 34px;
}
/*.sub-container1-monthly ends*/
/*.sub-container2-monthly*/

.sub-container2-monthly br{
    display: none;
}
.Professional{
    font-size: 23px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4c525a;
}
.pt2{
    display: flex;
    justify-content: space-around;
    padding: 5% 11% 0% 0%;
    margin-right: 4%;
    color: #4c525a;
    font-family: sans-serif;
    width: 100%;
}
.thirty-nine{
    font-size:70px;
}
.sub-container2-heading1 p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4c525a;
    font-size: 12px; 
}
/*.sub-container2-monthly ends*/
/*sub-container3-monthly*/
.business{
    font-size: 23px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4c525a; 
}
.sub-container3-heading1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4c525a;
    font-size: 12px; 
}
.pt3{
    display: flex;
    justify-content: space-around;
    padding: 5% 11% 0% 0%;
    margin-right: 4%;
    color: #4c525a;
    font-family: sans-serif;
    width: 100%;
}
.sub-container1-button{
    position: relative;
    top: 70px;
}
.seventy-nine{
    font-size:60px;
}
/*sub-container3-monthly end*/
a{
    text-decoration: none;
    color:  #4c525a;
}
/*section1 ends*/
/*section2*/

.ads-on{
    color: #4c525a;
    font-family: sans-serif;
}
.ads-on div{
    border: 2px solid transparent;
    padding:1% 5% 3% 5%;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 20px 40px 20px 40px;
    box-shadow: 0px 0px 35px #e0dbdb;
    display: block;
}
.ad3-link{
    color:rgb(1, 178, 137) ;
    padding: 40px 0px 40px 0px;
}
.ad3-link::after{
    content: '>';
}
.ads-on h5{
    font-size: 43px;
}
.ads-on .free{
    font-size: 30px;
}
.ads-on-price-tag{
    padding-left: 0px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 75px;
    padding-right: 35px;
}
.ads-on  h6{
    font-size: 21px;
    margin-top: 20px;
    margin-bottom:10px;
}
.ads-para{
    font-size: 15.5px;
    font-weight: -100;
    line-height: 22px;
    width: 70%;
}
.ads-para3{
    margin-bottom: 15px;
}
.adsOn-and-faq br{
    display: none;
}
.adsOn-and-faq h4{
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: #4c525a;
    font-family: 'Amerigo-bt roman opt';
    font-weight: lighter;
    margin: 30px 0px 30px 0px;
    padding: 30px 3px 20px 3px;
}
.mini-ad{
    padding: 5% 2% 5% 5%;
    background-color: #f2faff;
    margin: 140px 40px 140px 40px;
    text-align: center;
    border-radius: 11px;
    display: flex;
    justify-content: space-around;
}
.your{
    color: rgb(1, 178, 137);
}
.mini-ad h4{
    font-size: 44px;
    line-height: 50px;
    margin-bottom: 3px;
    width: 60%;
    position: relative;
    bottom: 10px;
}
.mini-ad button{
    padding:1%;
    background-color: #00af87;
    color: white;
    width: 22%;
    border: transparent;
    border-radius: 5px;
    height: 50px;
    position: relative;
    top: 100px;
    margin-left: 5%;
}
.faq{
    margin: 40px 90px 30px 90px;
    color: #4c525a;
    padding: 5px 5px;
    font-family: sans-serif;
}
.faq h1{
    text-align: center;
    color: #00af87;
    margin: 18px 3px 70px 3px;
    font-size: 31px;
}
.faq .faqContainer {
    margin: 10px 10px 20px 3px;
}
hr{
    margin: 17px 2px;
}
.faq .question {
    position: relative;
    padding: 2px 0;
    font-size: 22px;
    cursor: pointer;
    font-weight: 600;
}
/*this should be changed to proper dropdown icon*/
.faq .question::before {
    content: 'v';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 20px;
    transform: translateY(-50%);
}
/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.faq .answer {
    position: relative;
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 780px;
    overflow: hidden;
    transition: 0.5s;
}
/*main ends*/
/*footer*/
footer{
    display: flex;
    margin: 2px;
    padding: 30px 140px 90px 140px;
    font-family: sans-serif;
    color: #4c525a;
    justify-content: space-between;
}
footer li{
    font-size: 15px;
}
.pBR{
    color: #4c525a;
    font-size: 14.5px;
    margin-bottom: 18px;
    margin-top: 30px;
}
.pBR .pricing{
    margin-bottom: 6px;
    color: rgb(6, 186, 144);
}
footer h5{
    margin-bottom: 19px;
}
/*footer ends*/