/* For Mobile Devices using the mobile-first approach*/
*{
    padding: 0;
    margin: 0;
    background-color:#ffffff;
}
img{
    width: 100%;
}
/*nav*/
nav{
    border: 2px solid green;
    width: 90%;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    padding: 5% 0% 5% 9%;
}
.devider{
    height: 110px;
}
/*logo*/
.logo{
    width: 53%;
    display: flex;
}
.logoImg{
    width: 30%;
}
/*bonsai*/
.logoName{
 font-size: 30px;
 color: rgb(1, 178, 137);
 font-weight: 600;
 font-family: sans-serif;
 margin-left: 4px;
 padding-top: 6%;
}
/*hamburger icon*/
.hamburger-icon{
    width: 30%;
}
.hamburger-icon-content{
    display: none;
}
.hamburger-button{
    margin: 2px;
    height: 30px;
    width: 60%;
    padding-top: 9%;
}
.iconline{
    width: 65%;
    background-color: rgb(79, 79, 79);
    height: 2px;
    margin-top: 6px;
    border-radius: 3px;
}
/*nav ends*/


































        /* Media Query for low resolution  Tablets, Ipads */
        @media (min-width: 481px) and (max-width: 767px) {
            body {
                background-color: yellow;
            }
        }
         
        /* Media Query for Tablets Ipads portrait mode */
        @media (min-width: 768px) and (max-width: 1024px){
            body {
                background-color: blue;
            }
        }
         
        /* Media Query for Laptops and Desktops */
        @media (min-width: 1025px) and (max-width: 1280px){
            body {
                background-color: green;
            }
        }
         
        /* Media Query for Large screens */
        @media (min-width: 1281px) {
            body {
                background-color: rgb(216, 11, 131);
            }
        }